<header class="header">
  <!-- <img src="assets/images/image.jpg" alt="X-Technology" title="X-Technology"> -->
  <div class="header--featured">
      <h3>FEATURED CONTENT:</h3>
      <span>TITLE</span>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      </p>
  </div>
</header>
<section class="tools">
  <div class="tool">
      <a href="/about-us">
          <div>
              <div>
                  <span>Tools</span>
              </div>
          </div>
      </a>
  </div>
  <div class="programming">
      <a href="/about-us">
          <div>
              <div>
                  <span>Information</span>
              </div>
          </div>
      </a>
  </div>
  <div class="cybersecurity">
      <a href="/about-us">
          <div>
              <div>
                  <span>Partners</span>
              </div>
          </div>
      </a>
  </div>
  <div class="service">
      <a href="/about-us">
          <div>
              <div>
                  <span>Services</span>
              </div>
          </div>
      </a>
  </div>
</section>
<section class="services">
  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-global"></use>
      </svg>
      <h4 class="heading-4">Globally Connected</h4>
      <p class="featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-trophy"></use>
      </svg>
      <h4 class="heading-4">Requests</h4>
      <p class="featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>


  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-map-pin"></use>
      </svg>
      <h4 class="heading-4">Pickup</h4>
      <p class="featured-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>


  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-key"></use>
      </svg>
      <h4 class="heading-4">Secure</h4>
      <p class="featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-presentation"></use>
      </svg>
      <h4 class="heading-4">Growth</h4>
      <p class="featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="feature">
      <svg class="icon">
          <use xlink:href="assets/images/sprite.svg#icon-lock"></use>
      </svg>
      <h4 class="heading-4">Management Tools</h4>
      <p class="featured-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</section>
