<header class="header">
  <div class="header--featured">
      <h3>Carrier News</h3>
  </div>
</header>
<section class="blog">

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -1.png">
      <h4 class="heading-4">Network Consulting</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -2.png">
      <h4 class="heading-4">Development</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod. </p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>


  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -3.png">
      <h4 class="heading-4">On-site Support</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>


  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -4.png">
      <h4 class="heading-4">Security Services</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -5.png">
      <h4 class="heading-4">Marketing</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -6.png">
      <h4 class="heading-4">Managed IT Services</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -7.png">
      <h4 class="heading-4">Network Consulting</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -8.png">
      <h4 class="heading-4">Development</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>


  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -9.png">
      <h4 class="heading-4">On-site Support</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>


  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -10.png">
      <h4 class="heading-4">Security Services</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle -11.png">
      <h4 class="heading-4">Marketing</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>

  <div class="feature">
      <img class="icon" src="assets/images/Rectangle 42.png">
      <h4 class="heading-4">Managed IT Services</h4>
      <p class="featured-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore nostrum, adipisci earum aliquam doloribus porro accusantium tenetur ex alias, nam quasi totam architecto natus minima modi ut fugiat quod.</p>
      <div class="readmore">
          <a href="/">Read More</a>
      </div>
  </div>
</section>
