<nav class="navigation">
  <div class="nav_left">
      <a href="/"><img src="assets/images/xtechnology2.png" alt="X-Technology" title="X-Technology"></a>
      <!-- <span><a href="/">- Technology</a></span> -->
  </div>
  <div class="nav_right">
      <ul>
          <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
          <li><a [routerLink]="['/partners']" routerLinkActive="active">Partners</a></li>
          <li><a [routerLink]="['/drivers']" routerLinkActive="active">Drivers</a></li>
          <li><a [routerLink]="['/news']" routerLinkActive="active">News</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
</nav>
