<nav class="navigation">
  <div class="nav_left">
      <a href="/"><img src="assets/images/xtechnology2.png" alt="X-Technology" title="X-Technology"></a>
      <!-- <span><a href="/">- Technology</a></span> -->
  </div>
  <div class="nav_right">
      <ul>
          <li><a class="active" href="/home">Home</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/drivers">Drivers</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
</nav>
